body{
    background-image: url("https://preview.ibb.co/h1L7Sw/9c15be6cbf729fd18d3f29e87bde4a47_sketch_design_design_ui.jpg");
    background-repeat: no-repeat;
    background-position: 50% -20%;
    width: 
}